@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.sidenav {
  width: 2rem;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 0px;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  padding: 0px;
  text-align: center;
  color: wheat;

  transition: width .6s ease-in-out, box-shadow 0.6s ease-in-out;
  
  border: 2px solid black;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
/*   padding: 1em; */

 
}

body{
  background-image: url('https://images3.alphacoders.com/118/1184187.jpg');
  background-repeat: no-repeat;
  background-size: cover;
/*   background-attachment: absolute; */
/*   background-position-y: -1070px; */
  
  display: flex;
  justify-content:center;
  
  margin: 0;
  padding: 0;
  
  backdrop-filter: blur(3px);
}

.sidenav:hover {
  width: 15rem;


    
  -webkit-box-shadow: -29px 14px 29px -15px rgba(0,0,0,0.67);
  -moz-box-shadow: -29px 14px 29px -15px rgba(0,0,0,0.67);
  box-shadow: -29px 14px 29px -15px rgba(0,0,0,0.67);
  
/*   filter: blur(0px);   */
}

.sidenav-content {
  margin: 1em;
/*   filter: blur(4px); */
  transition: filter .5s;
}

#redstoneimg {

display: block;
margin-right: auto;
margin-left: auto;
margin-top:auto;
margin-bottom: auto;
text-align: center;

}

.main-container{
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  width: 70%;
  min-height: 100vh;
  
  background: rgba(255, 255, 255, .3);
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(20px);
  box-shadow: -1px 1px 66px 36px rgba(0,0,0,0.64);
  

}

.title-img{
  height: 5.5rem;
  margin-top: 1.5rem;
  top: 0;
}


h1 {
  font-family: lato
}
.header {
  color: black;
  background-color:transparent;
  text-align: center
}
p {
  font-family: lato

}
#navbar {
font-family: lato;
display: block;
}
.linktext:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linktext:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linktext:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.logo {
text-align:center;
width: 5rem;
height: 5rem;
display: block;
margin-right:auto;
margin-left: auto;
}

.linktext:hover {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
img {
  max-width: 50%;
  height: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.credit {
  display: block;
  font-size: 24px;
  font-weight: 500;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-family: lato;
}

#title { 
  margin: 150px auto 200px auto;
  position: relative;
  font-family: lato
}
.subtitle { /*Basically Everything */ 
  display: block;
  font-size: 24px;
  color: black;
  margin-top: 1px;
  text-align: center;
}

.discord {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #000000;
  margin-top: 1px;
  text-align: center;
}
.blurplelink:hover {
  color:aquamarine;
  background-color: transparent;
  text-decoration: none;
}
.discordblurple {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 900;
  color: #5865F2;
  margin-top: 1px;
  text-align: center; 
}
.mcip {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-top: 1px;
  text-align: center;
}

button {
  background-color: #5865F2;
  color: white;
  box-shadow: grey;
  display: block;
  text-align: center;
  margin:auto;
}

#mcageofcivilizationnet {
  color: #5865F2;
  padding: 20px;
  font-size: x-large;
  display: block;
  margin: auto;
  text-align: center;
  font-weight: 1000;
  font-size: 40px;

}

footer {
  display: block;
  font-size: 10px;
  font-weight: 300;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}

.linkzone {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}
.linkzonesmall {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}

.mediazone {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}

.caption {
  font-size: 15px;
  color: black;
  font-weight: 200;
  font-family: lato;
}

/* .discordiframe {

  height: 100%; 
  width: 220px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  overflow-x: hidden; 
  padding-top: 20px;
}

@media screen and (max-height: 450px) {
  .discordiframe {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */




.whatis {
  text-align: center;  
  display: block;
  font-size: 20px;
}

.linkzone:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzone:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzone:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzone:hover {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
.linkzonesmall:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzonesmall:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzonesmall:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzonesmall:hover {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
.backtohome {
  display: block;
  color: #f7a32d;
  font-family: lato;
  text-align: center;
}