@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

h1 {
  font-family: lato
}
.header {
  color: black;
  background-color:transparent;
  text-align: center
  
}
p {
  font-family: lato

}
#navbar {
font-family: lato;

}
.linktext:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linktext:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linktext:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linktext:hover {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
img {
  max-width: 50%;
  height: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#title { 
  margin: 150px auto 200px auto;
  position: relative;
  font-family: lato
}
.subtitle { /*Basically Everything */ 
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}

.discord {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 300;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}
.blurplelink:hover {
  color:aquamarine;
  background-color: transparent;
  text-decoration: none;
}
.discordblurple {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #5865F2;
  margin-top: 1px;
  text-align: center; 
}
.mcip {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}

button {
  background-color: #5865F2;
  color: white;
  box-shadow: grey;
  display: block;
  text-align: center;
  margin:auto;
}

#mcageofcivilizationnet {
  color: #5865F2;
  padding: 20px;
  font-size: x-large;
  display: block;
  margin: auto;
  text-align: center;

}

footer {
  display: block;
  font-size: 10px;
  font-weight: 300;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}

.linkzone {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}

.mediazone {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #81899c;
  margin-top: 1px;
  text-align: center;
}

.caption {
  font-size: 15px;
  color: black;
  font-weight: 200;
}

/* .discordiframe {

  height: 100%; 
  width: 220px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  overflow-x: hidden; 
  padding-top: 20px;
}

@media screen and (max-height: 450px) {
  .discordiframe {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */

.whatis {
  text-align: center;  
  display: block;
  font-size: 14px;
}

.linkzone:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzone:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzone:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
.linkzone:hover {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}